*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #E9EDC9;
    
}
article{
   display: flex;
   flex-direction: row;
   justify-content: center;
} 
p{
    justify-content: center;
}
/* img{
    padding-top: 15%;
} */